body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}
.flag-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.language-selector {
    display: flex; /* Use flexbox */
    justify-content: flex-end; /* Align items to the right */
    padding: 1vw;
}
#english-btn img {
    width: 2.3vw; /* Adjust the width to make the flag bigger */
    height: auto; /* Maintain aspect ratio */
    z-index: 2;
}

.flag-button {
    margin-left: 0.8vw; /* Adjust the left margin to create space between flags */
    margin-top: 1vw; /* Adjust the top margin to move the flags slightly lower */
}

.flag-button img {
    width: 2vw; /* Adjust size as needed */
    height: auto;
}

.flag-button:focus {
    outline: none; /* Remove focus outline */
}

.container {
    text-align: left;
    margin: 2vw;
    position: relative;
}

.landing-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2vw;
}

.main-title {
    color: rgb(245, 245, 245);
    font-size: 5vw;
    margin-left: 6vw;
    margin-top: 1vw;
}

.subtitle {
    color: rgb(127, 15, 255);
    font-size: 3vw;
    margin-top: -2vw;
    margin-left: 10vw;
    width: 65vw;
    text-align: left;
}

.circle {
    width: 47vw;
    height: auto;
    position: absolute;
    top: 18vw;
    left: 41vw;
    z-index: 0;
}

.iphone-mockup {
    width: 20vw;
    height: auto;
    position: absolute;
    top: 18vw;
    left: 54vw;
    z-index: 1;
}


#section2 {
    margin-top: 30vw;
}

.section2-title {
    color: rgb(245, 245, 245);
    font-size: 4vw;
    margin-left: 6vw;
    margin-top: 1vw;
}

.section2-title span,
.section2-subtitle span,
.section3-title span,
.box1-header span,
.box2-header span,
.box3-header span,
.box4-header span,
.box5-header span,
.section4-title span {
    color: rgb(127, 15, 255);
}

.section2-subtitle {
    color: rgb(245, 245, 245);
    font-size: 1.9vw;
    margin-top: 0.1vw;
    margin-left: 12vw;
    width: 41vw;
    text-align: center;
}

.tg-button {
    background-color: rgb(127, 15, 255);
    color: white;
    padding: 1vw 1.4vw;
    font-size: 2.5vw;
    border-radius: 36vw;
    border: none;
    cursor: pointer;
    margin-top: 15vw;
    margin-left: 58vw;
    z-index: 5;
}

.iphone2 {
    width: 15vw;
    height: auto;
    position: absolute;
    top: 20vw;
    left: 20vw;
    z-index: 1;
}

.shade {
    width: 80vw;
    height: auto;
    position: absolute;
    top: 12.5vw;
    margin-left: -89vw;
    z-index: -1;
}

#section3 {
    margin-top: 22vw;
}

.section3-title {
    color: rgb(245, 245, 245);
    font-size: 4vw;
    margin-left: 34vw;
    margin-top: 1vw;
}

.section3-subtitle {
    color: rgb(245, 245, 245);
    font-size: 1.9vw;
    margin-top: 0.2vw;
    margin-left: 12vw;
    width: 70vw;
    text-align: center;
}

.box1 {
    background-color: #141416;
    padding: 1vw;
    margin-top: 2vw;
    width: 23vw;
    border-radius: 30px 30px;
    margin-left: 20vw;
    height: 13vw;
    position: absolute;
    top: 17.5vw;
    right: 49.5vw;
}


.box1-header {
    color: rgb(245, 245, 245);
    font-size: 1.8vw;
    text-align: right;
    margin-top: 0.01vw;
}

.box1-subheader {
    color: rgb(245, 245, 245);
    font-size: 1.1vw;
    margin-left: 1vw;
    margin-top: 2.5vw;
}

.i1 {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 1vw;
    left: 0.1vw;
    z-index: 1;
}

.box2 {
    background-color: #141416;
    padding: 1vw;
    margin-top: 2vw;
    width: 23vw;
    border-radius: 30px 30px;
    margin-left: 20vw;
    height: 13vw;
    position: absolute;
    top: 17.5vw;
    right: 22.6vw;
}

.box2-header {
    color: rgb(245, 245, 245);
    font-size: 1.8vw;
    text-align: right;
    margin-top: 0.01vw;
}

.box2-subheader {
    color: rgb(245, 245, 245);
    font-size: 1.1vw;
    margin-left: 1vw;
    margin-top: 2.5vw;
}

.i2 {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 1vw;
    left: 0.1vw;
    z-index: 1;
}

.box3 {
    background-color: #141416;
    padding: 1vw;
    margin-top: 2vw;
    width: 23vw;
    border-radius: 30px 30px;
    margin-left: 20vw;
    height: 13vw;
    position: absolute;
    top: 34.5vw;
    right: 65vw;
}

.box3-header {
    color: rgb(245, 245, 245);
    font-size: 1.8vw;
    text-align: right;
    margin-top: 0.01vw;
}

.box3-subheader {
    color: rgb(245, 245, 245);
    font-size: 1.1vw;
    margin-left: 1vw;
    margin-top: 2.5vw;
}

.i3 {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 1vw;
    left: 0.1vw;
    z-index: 1;
}

.box4 {
    background-color: #141416;
    padding: 1vw;
    margin-top: 2vw;
    width: 23vw;
    border-radius: 30px 30px;
    margin-left: 20vw;
    height: 13vw;
    position: absolute;
    top: 34.5vw;
    right: 38vw;
}

.box4-header {
    color: rgb(245, 245, 245);
    font-size: 1.8vw;
    text-align: right;
    margin-top: 0.01vw;
}

.box4-subheader {
    color: rgb(245, 245, 245);
    font-size: 1.1vw;
    margin-left: 1vw;
    margin-top: 2.5vw;
}

.i4 {
    width: 9.2vw;
    height: auto;
    position: absolute;
    top: 1vw;
    left: 0.1vw;
    z-index: 1;
}

.box5 {
    background-color: #141416;
    padding: 1vw;
    margin-top: 2vw;
    width: 23vw;
    border-radius: 30px 30px;
    margin-left: 20vw;
    height: 13vw;
    position: absolute;
    top: 34.5vw;
    right: 11vw;
}

.box5-header {
    color: rgb(245, 245, 245);
    font-size: 1.8vw;
    text-align: right;
    margin-top: 0.01vw;
}

.box5-subheader {
    color: rgb(245, 245, 245);
    font-size: 1.1vw;
    margin-left: 1vw;
    margin-top: 2.5vw;
}

.i5 {
    width: 9.2vw;
    height: auto;
    position: absolute;
    top: 1vw;
    left: 0.1vw;
    z-index: 1;
}

#section4 {
    margin-top: 45vw;
}

.section4-title {
    color: rgb(245, 245, 245);
    font-size: 4vw;
    margin-left: 6vw;
    margin-top: 1vw;
}

.section4-subtitle {
    color: rgb(255, 255, 255);
    font-size: 1.9vw;
    margin-top: 0.1vw;
    margin-left: 12vw;
    width: 70vw;
    text-align: left;
}

.email,
.telegram {
    color: rgb(245, 245, 245);
    font-size: 1.8vw;
    text-align: left;
    margin-left: 4vw;
    padding: 1vw;
    border-radius: 30vw;
    width: 27vw;
    height: -20vw;
    display: flex;
    align-items: right;
    
}

.email {
    margin-top: 6vw;
    border: 2px solid transparent;
    border-image: repeating-linear-gradient(45deg, rgb(127, 15, 255), rgb(127, 15, 255) 10px, transparent 10px, transparent 20px);
    border-image-slice: 1;
    text-indent: 5.4vw;
    margin-left:10vw;
}

.telegram {
    margin-top: 2vw;
    border: 2px solid transparent;
    border-image: repeating-linear-gradient(45deg, rgb(127, 15, 255), rgb(127, 15, 255) 10px, transparent 10px, transparent 20px);
    border-image-slice: 1;
    text-indent: 5.2vw;
    margin-left:10vw;
}
.tg-logo {
    width: 6vw;
    height: auto;
    position: absolute;
    top: 23vw;
    left: 9.5vw;
}
.email-logo {
    width: 4.7vw;
    height: auto;
    position: absolute;
    top: 17vw;
    left: 10.4vw;
}
@media only screen and (max-width: 768px) {
    .main-title {
        font-size: 9vw;
    }
     body {
        overflow-x: hidden;
    }
    .flag-button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }
    .language-selector {
        display: flex; /* Use flexbox */
        justify-content: flex-end; /* Align items to the right */
        padding: 1vw;
    }
    #english-btn img {
        width: 6.6vw; /* Adjust the width to make the flag bigger */
        height: auto; /* Maintain aspect ratio */
    }
    #english-btn {
        z-index: 2; /* Set a higher z-index value to bring the button to the top layer */
    }
    .flag-button {
        margin-left: 1vw; /* Adjust the left margin to create space between flags */
        margin-top: 2vw; /* Adjust the top margin to move the flags slightly lower */
    }
    
    .flag-button img {
        width: 6vw; /* Adjust size as needed */
        height: auto;
    }
    
    .flag-button:focus {
        outline: none; /* Remove focus outline */
    }
    .subtitle {
        font-size: 6.7vw;
        width:75vw;
    }

    .circle {
        height: 400vw;
        width: 82vw;
        left: 10vw;
        top: -125vw;
    }

    .iphone-mockup {
        width: 63vw;
        left: 17vw;
        top: 40vw;
    }

    .iphone2 {
        width: 40vw;
        left: 15vw;
        top: 40vw;
    }

    .shade {
        
        height:200vw;
        width:120vw;
        left: 65vw;
        top:-20vw;
    }

    .tg-button {
        margin-top: 20vw;
        margin-left: 70vw;
    }

    .section2-title {
        font-size: 6.7vw;
        margin-left: 4vw;
        margin-top: 105vw;
    }

    .section2-subtitle {
        font-size: 3.5vw;
        margin-left: 6vw;
        width: 70vw;
    }

    .tg-button {
        margin-top: 40vw;
        margin-left: 65vw;
        width:30vw;
        height: 15vw;
    }

    .section3-title {
        font-size: 6vw;
        margin-left: 31vw;
        margin-top: 52vw;
    }

    .section3-subtitle {
        font-size: 3.2vw;
        margin-left: 2vw;
        width: 90vw;
    }

    .box1,
    .box2   {
        width: 72vw;
        height:30vw;
        top: 33vw;
        border-radius:2.5vw;
    }
    .box3,
    .box4,
    .box5 {
        width: 72vw;
        height:30vw;
        border-radius:2.5vw;
    }
    .box1   {
        left: -10vw;
    }
    .box2   {
        left: -10vw;
        top:187.2vw;
    }
    .box3   {
        left: -10vw;
        top:110vw;
    }
    .box4   {
        left: -10vw;
        top: 148.6vw;
    }
    .box5   {
        left: -10vw;
        top: 72vw;
    }
    
    .box1-header,
    .box2-header,
    .box3-header,
    .box4-header,
    .box5-header {
            margin-top: 1.5vw; 
            margin-right:2.2vw;
            font-size:5vw;

            width:70vw;
    }
    .box1-subheader,
    .box2-subheader,
    .box3-subheader,
    .box4-subheader,
    .box5-subheader {
            margin-top: -2vw; 
            margin-right:.2vw;
            border-radius:2vw;
            width: 70vw;
            font-size:3vw;
            text-align:left;
            
    }
    .i1,.i2,.i3,.i4,.i5{

        left:1vw;
        top:-2vw;
        width: 25vw;
        height: 22vw;
    }    
    .email,
    .telegram {
        margin-left: 3vw;
        width: 27vw;
        top:10vw;
    }
    .section4-title {
        font-size: 6vw;
        margin-left: 4vw;
        margin-top: 210vw;
    }

    .section4-subtitle {
        font-size: 3vw;
        margin-left: 6vw;
        width: 70vw;
    }
    .tg-logo {
        top:33.8vw;
        left:2.8vw;
        width:6vw;
    }
    .email-logo {
        top:26.8vw;
        left:3vw;
        width: 5.5vw;
    }
}
